.list-countries{
  font-family: Roboto, sans-serif;
  padding: 1px;
}

.list-countries-item{
  padding: 1%;
  cursor: pointer;
}

.list-countries-item img{
  width: 18px;
  height: 12px;
}

.list-countries-item .star{
  width: 14px;
  height: 14px;
}
